@import '~antd/dist/antd.css';
.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
.brand{
    background: #000;
    position: relative;
    width: 132px;
    height: 82px;
    left: 31px;
    text-align: center;
  }

  .brandName{
    font-size: 20px;
    font-weight: 600;
    margin: 0 20px;
  }
  .brandlogo{
    height: 57px;
    width: 57px;
  }